body {background: #EAF6F6;

}
hr{  
    border-style: none;
border-top-style: dotted ;
border-color: grey;
border-width: 5px;
width : 5%;
}
h3  {
    color: #66BFBF;
}
h1 {
    color: #66BFBF;
}
.about{
    margin-left: 5%;
}
.skill{
    margin-left: 5%;
}
.name{
    margin-left:4%;
    font-family:serif;
    text-transform: uppercase;
    padding: auto;
    
}
.me{
    margin-left:20px ;
}
